* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */

.remove-button {
  display: none;
  background-color: red;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.split-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.35rem;
  width: 100%;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
}
input:invalid {
  outline: 2px solid red;
}

/* || GENERAL STYLES */

body {
  min-height: 100vh;
  background-color: #f8f8f8;
  padding: 1rem;
}
p {
  padding-bottom: 10px;
  font-size: 12px;
}
span {
  font-weight: 14px;
}
input,
button,
textarea,
select {
  font: inherit;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  height: 100vh;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.barmarker-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.barmarker {
  width: 100%;
  display: grid;
  place-content: center;
}

.barmarker:is(:not(:last-child)) {
  border-right: 1px solid #000;
}

.progress {
  width: 100%;
  height: 24px;
}

.form {
  width: 30%;
  background-color: #fff;
  padding: 40px 64px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
}
.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.button:disabled {
  background-color: #0a31613a;
}
.button:disabled:hover {
  background-color: #0a31613a;
}
.button {
  background-color: #0a3161;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 32px;
  min-height: 56px;
  width: 100%;
}
.button:hover {
  background-color: #0a3161ee;
}
label {
  font-weight: 600;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #151515;
  padding-top: 2px;
  padding-bottom: 8px;
}
input,
select,
textarea {
  -webkit-appearance: none;
  background-color: #f8f8f8;
  border: none;
  outline: 1px solid rgb(216, 216, 216);
  border-radius: 2px;
  width: 100%;
  padding: 8px 0;
  text-indent: 10px;
  height: max-content;
  overflow: hidden;
  line-break: auto;
}
input:hover {
  outline: 1px solid rgb(90, 90, 200);
}
input:focus {
  outline: 2px solid rgb(53, 53, 128);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 1rem;
}
.questionButton {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid lightgray;
}
.active {
  background-color: #0a3161;
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev {
  background-color: #0a3161ab;
}
.prev:hover {
  background-color: #0a31619a;
}
.info-message {
  background-color: rgba(211, 211, 211, 0.279);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.error {
  border: 1px solid red;
}
.riskWrapper {
  display: flex;
  flex-direction: column;
}
.riskContainer {
  background-color: rgba(211, 211, 211, 0.279);
  margin-bottom: 20px;
  border-radius: 10px;
}
.full-width {
  width: 100%;
}
.right {
  padding: 10px;
}
@media (max-width: 768px) {
  form {
    width: 100% !important;
  }
}
